@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-CondLight.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Didact Gothic";
  src: url("../fonts/DidactGothic.ttf");
}


@product-width: 120px;
@product-height: 120px;

html {
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

#app-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background: url("../images/bg.jpeg");
  background-size: cover;
  -webkit-filter: blur(2px);
}

#app-wrapper {
  position: relative;
  z-index: 2;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  //border: 1px solid blue;

  .block-caption {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Open Sans Regular";
    font-size: 32px;
    text-align: center;
    color: #607D8B;
  }

  .attention-block {
    float: left;
    width: 25%;
    height: 100%;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    //border: 1px solid black;

    .attention-block-caption {
      display: block;
      margin-top: 10px;
      font-family: "Didact Gothic";
      font-size: 20px;
      line-height: 23px;
      color: black;
    }

    .attention-block-text {
      display: block;
      padding-top: 20px;
      font-family: "Didact Gothic";
      font-size: 17px;
      line-height: 20px;
      color: #757575
    ;
    }
  }

  .attention-icon {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 10px solid #FFE0B2;
    border-radius: 50%;
    transition: all 0.2s linear;

    &:hover {
      width: 120px;
      height: 120px;
    }
  }
}


.pix-container {
  //overflow: auto;
  float: left;
  width: 40%;
  //min-height: 200px;
  //text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid red;
  box-sizing: border-box;

  .row {
    //overflow: auto;
    width: @product-width * 3;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    //border: 1px solid green;
  }

  img {
    display: block;
    float: left;
    width: @product-width;
    height: @product-height;
    background: lightgray;
    box-sizing: border-box;
    border: none;
  }
}

.prices-container {
  float: left;
  width: 60%;
  min-height: 200px;
  padding: 40px;
  border: 1px solid blue;
  box-sizing: border-box;

  table {
    width: 100%;
    border-spacing: 0px;

    caption {
      //margin-bottom: 10px;
      padding-bottom: 5px;
      font-family: "Didact Gothic";
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;
      color: #90A4AE;
      //border-bottom: 1px dotted #90A4AE;
    }

    tr {
      &:nth-child(2n) {
        background: #EEEEEE;
      }
    }

    th {
      margin-bottom: 10px;
      padding: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: "Didact Gothic";
      text-align: left;
      vertical-align: middle;
      color: #263238;
      //border-top: 1px dotted #90A4AE;
      //border-bottom: 1px dotted #90A4AE;
      background: #ECEFF1;

      &.r {
        width: 10%;
      }
      &.brand {
        width: 20%;
        //text-align: center;
      }
      &.length {
        width: 20%;
        text-align: center;
      }
      &.price {
        width: 20%;
        text-align: right;
      }
    }

    td {
      padding: 5px;
      font-family: "Didact Gothic";


      &.r {
        width: 25%;
      }
      &.brand {
        width: 25%;
        //text-align: center;
      }
      &.length {
        width: 25%;
        text-align: center;
      }
      &.price {
        width: 25%;
        text-align: right;
      }
    }

  }
}


#app-header {
  height: 400px;
  //border: 1px solid red;
}



#app-why-we {
  //height: 300px;
  overflow: auto;
  background: white;
  //border: 1px solid green;
}



#app-armature {
  overflow: auto;
  //min-height: 300px;
  background: #FAFAFA;
}