@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-CondLight.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Didact Gothic";
  src: url("../fonts/DidactGothic.ttf");
}
html {
  padding: 0px;
}
body {
  padding: 0px;
  margin: 0px;
}
#app-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background: url("../images/bg.jpeg");
  background-size: cover;
  -webkit-filter: blur(2px);
}
#app-wrapper {
  position: relative;
  z-index: 2;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}
#app-wrapper .block-caption {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Open Sans Regular";
  font-size: 32px;
  text-align: center;
  color: #607D8B;
}
#app-wrapper .attention-block {
  float: left;
  width: 25%;
  height: 100%;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}
#app-wrapper .attention-block .attention-block-caption {
  display: block;
  margin-top: 10px;
  font-family: "Didact Gothic";
  font-size: 20px;
  line-height: 23px;
  color: black;
}
#app-wrapper .attention-block .attention-block-text {
  display: block;
  padding-top: 20px;
  font-family: "Didact Gothic";
  font-size: 17px;
  line-height: 20px;
  color: #757575
    ;
}
#app-wrapper .attention-icon {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 10px solid #FFE0B2;
  border-radius: 50%;
  transition: all 0.2s linear;
}
#app-wrapper .attention-icon:hover {
  width: 120px;
  height: 120px;
}
.pix-container {
  float: left;
  width: 40%;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid red;
  box-sizing: border-box;
}
.pix-container .row {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.pix-container img {
  display: block;
  float: left;
  width: 120px;
  height: 120px;
  background: lightgray;
  box-sizing: border-box;
  border: none;
}
.prices-container {
  float: left;
  width: 60%;
  min-height: 200px;
  padding: 40px;
  border: 1px solid blue;
  box-sizing: border-box;
}
.prices-container table {
  width: 100%;
  border-spacing: 0px;
}
.prices-container table caption {
  padding-bottom: 5px;
  font-family: "Didact Gothic";
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #90A4AE;
}
.prices-container table tr:nth-child(2n) {
  background: #EEEEEE;
}
.prices-container table th {
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Didact Gothic";
  text-align: left;
  vertical-align: middle;
  color: #263238;
  background: #ECEFF1;
}
.prices-container table th.r {
  width: 10%;
}
.prices-container table th.brand {
  width: 20%;
}
.prices-container table th.length {
  width: 20%;
  text-align: center;
}
.prices-container table th.price {
  width: 20%;
  text-align: right;
}
.prices-container table td {
  padding: 5px;
  font-family: "Didact Gothic";
}
.prices-container table td.r {
  width: 25%;
}
.prices-container table td.brand {
  width: 25%;
}
.prices-container table td.length {
  width: 25%;
  text-align: center;
}
.prices-container table td.price {
  width: 25%;
  text-align: right;
}
#app-header {
  height: 400px;
}
#app-why-we {
  overflow: auto;
  background: white;
}
#app-armature {
  overflow: auto;
  background: #FAFAFA;
}
